@import "./_vars";

@mixin headerBtn {
    height: 2.5rem;
    width: 2.5rem;
    color: $font-color;
    background-color: transparent;
    border: none;
    border-radius: $border-radius-xs;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: $primary-selected-color;
    }

    &:active {
        scale: 0.95;
    }
}