@font-face {
    font-family: Figtree;
    src: url('/src/assets/fonts/Figtree.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('/src/assets/fonts/Roboto.ttf');
}

@font-face {
    font-family: poppins-reg;
    src: url('/src/assets/fonts/Poppins-Regular.ttf');
}