$green-nav-background: #f8fbf9;
$green-background: #e2f0e7;
$green-btn-hover: #d6e3db;
$green-btns: #c6e9d5; // and nav hover
$green-dark: #00854d;
$font-color: #323338;
$app-gray: #d0d4e4;
$txt-clr: #333;
