$nav-background: #f6f7fc;
$blue-background: #eceff8;
$blue-btn-hover: #cbe5fe;
$blue-btn: #0073ea; // and nav selected
$font-color: #323338;
$app-gray: #d0d4e4;
$txt-clr: #333;
$primary-background-hover-color: #6768791a;
$primary-selected-color: #cbe5fe;
$border-radius-xs: 4px;