* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    font-family: Figtree, Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
}
